# wrangler.toml
name = 'heytea'
main = "worker/src/index.js"
compatibility_date = "2025-11-17"
compatibility_flags = ["nodejs_compat"]

[observability]
[observability.logs]
enabled = false
head_sampling_rate = 1
invocation_logs = true
persist = true